
/* ------------------------- GENERAL ------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(17, 17, 17);
  color: aliceblue;
}

.header {
  background-color: rgb(45, 90, 173)  ;
}

.titulo {
  font-family: Tahoma;
  padding: 1em;
}


/* ------------------------- INPUTS ------------------------- */

.inputs-configuracion {
  display: flex;
  padding: 1em 2em;
  gap: 2em;

  font-family: system-ui;
  font-size: 1.1em;
  opacity: .9;
}

.inputs-configuracion label {
  display: flex;
  flex-direction: column;
  gap: .4em;
}

.inputs-configuracion select, input {
  color: aliceblue;
  background-color: rgb(29, 29, 29);
  font-size: 1em;

  padding: .2em .5em;
  box-sizing: content-box;
  height: 1.5em;

  border: 1px solid rgba(240, 248, 255, 0.459);
  border-radius: .3em;
}


/* ------------------------- VISUALIZAR ------------------------- */

.visualizador {
  margin: 1em 0;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: .6em;
}

.visualizador *:focus {
  outline: none;
}


/* ------------------------- SALIDA ------------------------- */

.salida-codigo {
  /* width: 70vw; */
  margin: 2em 3em;
  border: 1px solid rgba(240, 248, 255, 0.493);
  border-radius: 1em;
  background-color: rgb(29, 29, 29);
}

.salida-codigo article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.salida-codigo button {
  background-color: inherit;
  color: aliceblue;
  border-radius: .6em;
  font-size: 1em;
  padding: .6em 1em;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: .4em;
}

.salida-codigo button:hover {
  cursor: pointer;
  background-color: rgb(39, 39, 39);
}

.salida-codigo button:active {
  background-color: rgb(56, 56, 56);
}

.salida-codigo span {
  width: 1em;
}

.salida-codigo pre {
  background-color: black;
  font-size: 1.4em;
  border-radius: 0 0 1em 1em;
  overflow: scroll;
}
